<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding_ITestService" maxReceivedMessageSize="12345" />
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:23456/TestService" 
                binding="wsHttpBinding"
                bindingConfiguration="wsHttpBinding_ITestService"
                contract="WcfClientProxyGenerator.Tests.Services.ITestService"
                name="ITestService" />
      
      <endpoint address="http://localhost:23456/TestService2" 
                binding="wsHttpBinding"
                contract="WcfClientProxyGenerator.Tests.Services.ITestService"
                name="ITestService2" />
      
      <endpoint address="http://localhost:23456/TestService2" 
                binding="wsHttpBinding"
                contract="WcfClientProxyGenerator.Tests.Services.ITestServiceSingleEndpointConfig"
                name="ITestServiceSingleEndpointConfig" />

      <endpoint address="http://localhost:23456/BehaviorService"
                binding="webHttpBinding"
                behaviorConfiguration="webHttp"
                contract="WcfClientProxyGenerator.Tests.Services.ITestService"
                name="BehaviorService" />
    </client>
  </system.serviceModel>
</configuration>