<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings />
    <client>
      <endpoint address="http://localhost:23456/TestService" binding="wsHttpBinding"
        contract="WcfClientProxyGenerator.Tests.Infrastructure.ITestService"
        name="ITestService" />
      <endpoint address="http://localhost:23456/TestService2" binding="wsHttpBinding"
        contract="WcfClientProxyGenerator.Tests.Infrastructure.ITestService2"
        name="ITestService2" />
      <endpoint address="http://localhost:23456/TestService2" binding="wsHttpBinding"
        contract="WcfClientProxyGenerator.Tests.Infrastructure.ITestServiceSingleEndpointConfig"
        name="ITestServiceSingleEndpointConfig" />
    </client>
  </system.serviceModel>
</configuration>